/* みんなの投稿 */
.index_main {
  display: flex;
  justify-content: space-between;
}
.index_main p {
  color: #202f55;
  font-size: 1.4rem;
  margin: 3rem;

}
.post_serch {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin: 3rem;
}
.post_serch a {
  display: block;
  width:180px;
  height:50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #f16272;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-right: 2rem;
}
.keyword_serch label {
  display: block;
  color: #f16272;
} 
.keyword_serch input {
  border-radius: 10px;
  border: 1px solid #f16272;
}
.keyword_serch .button {
  background:  #f16272;
  color: #fff;
}

/* コメント画面 */
.show_main p {
  color: #202f55;
  font-size: 1.4rem;
  margin: 3rem 3rem 2rem;
}
.comment_button a {
  display: block;
  width:180px;
  height:50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #f16272;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-left: 3rem;
}