.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal_bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal_content {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: 10%;
}
.modal_nav {
    display: flex;
    justify-content: space-between;
}
.modal_nav p , .modal_nav a {
    color: #f16272;
    font-size: 1.2rem;
}
.modal_content textarea {
    border: 2px solid #f16272;
    width: 100%;
    height: 50%;
}
.button_panel .button {
    text-align: center;
    border: none;
    display: block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #f16272;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.form_item {
    margin-top: 1rem;
}
