.google_login {
  background: rgba(211, 211, 211, 0.3);
  padding: 1em;
  max-width: 370px;
  margin: 150px auto 150px;
  border-radius: 10px;
}
.google_login h1 {
  color: #f16272;
  text-align: center;
  margin: 1em;
  font-weight: normal;
  font-size: 1.2em;
}
form {
  padding: 0 1.5em;
}
.form_item {
  margin-bottom: 0.5em;
  width: 100%;
}
.form_item input {
  background: #fff;
  border: none;
  border-bottom: 2px solid #c4c4c4;
  color: #000;
  font-size: 0.8em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}
.form_item input:focus {
  border-bottom: 2px solid #666;
  outline: none;
}
.button_panel {
  margin: 2em 0 0;
  width: 100%;
}
.button_panel .button {
  background: #f16272;
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 50px;
  letter-spacing: 0.05em;
  text-align: center;
  transition: background 0.3s ease-in-out;
  width: 100%;
  font-size: 1em;
}
.button:hover {
  background: #ee3e52;
}


